<div class="form-group">
    <button class="btn btn-block btn-obj1-option" id="menu-toggle">Option</button>
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" id="quantity" placeholder="Type here" value="<%= Info.quantity %>">
</div>

<script>
$("#menu-toggle").click(function(event) {
    event.stopPropagation();

    $(".sidenav").toggleClass("active");
    if ($(".sidenav").hasClass("active")) {
        $(".obj3-mainboard").css("opacity", "0.4");
    }            
    else {
        $(".obj3-mainboard").css("opacity", "1");
    }            
});

$('#quantity').on('input', function() { 
    var data = {quantity: this.value};
    $.ajax({
        type: "POST",
        url: '/setQauntity',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (data) {
            console.log("success");
        },
        complete: function (data) {
            console.log(data);
            $(".obj3-panel").html(data.responseText);
        },
        error: function () {

        }
    });
});
</script>